block head
    link(rel="stylesheet",href="/stylesheets/three-dots-animation.css")
    link(rel="stylesheet",href="/stylesheets/chat.css")
    link(rel="stylesheet",href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.css")
    link(rel="stylesheet",href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css")
    link(rel="stylesheet",href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css")

.navbar.navbar-app.navbar-absolute-top
    .navbar-brand.navbar-brand-center(ui-yield-to='title')
        | Wetalki - Chat
    .btn-group.pull-right
        .btn(data-ng-click="ctrl.exit()")
            i.fa.fa-sign-out
            |  Exit
.app-body  
    .app-content
          
        .scrollable
            .scrollable-content
                .ads
                    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-8215940757054585', data-ad-slot='2220627754', data-ad-format='auto')
                    script.
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    
                #messageList
                     
                
                     div#connectedWithPartnerText(data-ng-if="ctrl.vm.isConnectedWithPartner") 
                        p.text-center You're now chatting with someone who wants to speak the same language as you. Let's go practice!
                        p#findSomeoneElse.text-center Click <a data-ng-click="ctrl.findNewPartner()" href="">here<a/> if you want to talk with someone else
                     
                     #waiting(data-ng-if="ctrl.vm.isWaitingForPartner")
                        .progress
                            .progress-bar.progress-bar-success.progress-bar-striped.active(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                            span.sr-only Looking for a partner
                        .waiting-text    
                            p.loading Looking for a partner<span>.</span><span>.</span><span>.</span>
                            
                            .waiting-subtext    
                                div You're about to connect to a stranger who also want to practice...
                                div It may take a little while to find someone with common language interests...
                        
                    .message(data-ng-repeat="message in ctrl.vm.messages track by $index")
                        span
                        .div(data-ng-class="{'message-from-partner':message.fromPartner,'message-from-you':!message.fromPartner,'has-disconnected':message.hasDisconnected }")
                            .message-content
                                .message-text
                                    span.message-pre-text
                                    span.text.user {{:: message.fromPartner ? 'Partner:': 'You:'}} 
                                    span.text {{:: message.message}}   
                                    span.sad(data-ng-if="message.hasDisconnected") :(
                                .message-meta
                                    span.time
                            
                            
                        
                         
            .scrollable-footer
                .row(style="padding:0 5px 0 5px")
                    .col-md-10.col-xs-9       
                            textarea#inputMessage.form-control(ng-disabled = "!ctrl.vm.isConnectedWithPartner", placeholder="Type your message here...",data-ng-model="ctrl.vm.message", data-ng-keydown="ctrl.onKeyDown($event)")
                    .col-md-2.col-xs-3
                        button.btn.btn-primary.btn-lg.btn-block(ng-disabled = "!ctrl.vm.isConnectedWithPartner", data-ng-click="ctrl.sendMessage(ctrl.vm.message)")
                            i.fa.fa-send-o
                  
                    






    


    
          


