doctype html
html(data-ng-app="app")
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(content="Practice any language, anytime, anywhere!")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    block head
  body  
    block content
    

    
    block scripts