<!-- DIRECT CHAT SUCCESS -->
<div class="box box-success direct-chat direct-chat-success" style="width:300px" data-drag="true" jqyoui-draggable>
    <div class="box-header with-border" style="cursor:move">
        <h3 class="box-title">Chat with {{vm.partner.name}}</h3>

        <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-green">3</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                  <i class="fa fa-comments"></i></button>
            <button type="button" ng-click="vm.show = false;" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            <!-- Message. Default to the left -->
            
            <div class="direct-chat-msg {{message.fromPartner?'right':''}}" data-ng-repeat="message in vm.messages">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right" ng-if="message.fromPartner">{{::vm.partner.name}}</span>
                    <span class="direct-chat-name pull-left" ng-if="!message.fromPartner">{{::vm.me.name}}</span>
                    <span class="direct-chat-timestamp {{message.fromPartner?'pull-left':'pull-right'}}">
                        {{::message.time}}
                    </span>
                </div>
                <!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="/template/adminLTE/img/nophoto.png" alt="Message User Image">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                    {{::message.messageText}}
                </div>
                <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message to the right -->
         
            <!-- /.direct-chat-msg -->
        </div>
        <!--/.direct-chat-messages-->

        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts">
            <ul class="contacts-list">
                <li>
                    <a href="#">
                        <img class="contacts-list-img" src="/template/adminLTE/img/nophoto.png" alt="User Image">

                        <div class="contacts-list-info" data-ng-repeat="contact in vm.contacts">
                            <span class="contacts-list-name">
                              {{::contact.name}}
                              <!--<small class="contacts-list-date pull-right">2/28/2015</small>-->
                            </span>
                            <!--<span class="contacts-list-msg">How have you been? I was...</span>-->
                        </div>
                        <!-- /.contacts-list-info -->
                    </a>
                </li>
                <!-- End Contact Item -->
            </ul>
            <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

        <div class="input-group">
            <input type="text" name="message" data-ng-keydown="vm.onKeyDown($event)" id="messageText" data-ng-model="vm.message" placeholder="Type Message ..." class="form-control">
            <span class="input-group-btn">
                        <button type="button" data-ng-click="vm.sendMsg(vm.message, vm.partner.socketId)" class="btn btn-success btn-flat">Send</button>
                      </span>
        </div>

    </div>
    <!-- /.box-footer-->
</div>
<!--/.direct-chat -->