.container
  .row
    .col-lg-12.text-center
      h2 Rooms
      hr.globe-primary
  .row
    .col-lg-12
      adsense(ad-client='ca-pub-8215940757054585', ad-slot='2220627754', ad-format='auto', inline-style='display:block')
  br
  .row
    .col-sm-4.portfolio-item
      a.portfolio-link(href='#', data-toggle='modal', ng-click="ctrl.openModal('Free','On this room we are free to talk about anything')")
        .caption
          .caption-content
            i.fa.fa-search-plus.fa-3x
        img.img-responsive(src='/images/rooms/free.png', alt='')
    .col-sm-4.portfolio-item
      a.portfolio-link(href='#', data-toggle='modal', ng-click="ctrl.openModal('Politics','On this room we talk about politics')")
        .caption
          .caption-content
            i.fa.fa-search-plus.fa-3x
        img.img-responsive(src='/images/rooms/politics.png', alt='')
    .col-sm-4.portfolio-item
      a.portfolio-link(href='#', data-toggle='modal', ng-click="ctrl.openModal('Sports','On this room we talk about sports')")
        .caption
          .caption-content
            i.fa.fa-search-plus.fa-3x
        img.img-responsive(src='/images/rooms/sports.png', alt='')
    .col-sm-4.portfolio-item
      a.portfolio-link(href='#', data-toggle='modal', ng-click="ctrl.openModal('Movies','On this room we talk about movies')")
        .caption
          .caption-content
            i.fa.fa-search-plus.fa-3x
        img.img-responsive(src='/images/rooms/movies.png', alt='')
    .col-sm-4.portfolio-item
      a.portfolio-link(href='#', data-toggle='modal', ng-click="ctrl.openModal('Music','On this room we talk about music')")
        .caption
          .caption-content
            i.fa.fa-search-plus.fa-3x
        img.img-responsive(src='/images/rooms/music.png', alt='')
    .col-sm-4.portfolio-item
      a.portfolio-link(href='#', data-toggle='modal', ng-click="ctrl.openModal('Travel','On this room we talk about travel')")
        .caption
          .caption-content
            i.fa.fa-search-plus.fa-3x
        img.img-responsive(src='/images/rooms/travel.png', alt='')
